extends layout

block content
  .error
    h1 Sqwarkbox has had an unscheduled disassembly 
    h5 (euphemisms are #[em]de rigeur#[em] these days)
    h3= message
    h4= error.status
    pre #{error.stack}
  