extends layout 

block content 
    .auth   
        
        form#register.register(method="POST" action="")
            .formtitle 
                h3 fake fake fake
            .formcontainer
                .formsubtitle 
                    p Register :: create an account to join in
                .vert 
                    .label
                        label(for="email") email: *
                    .input
                        input#email.email(name="email" type="email" required title="email is required for password resets\nunique ")
                .vert  
                    .label
                        label(for="anom") moniker: *
                    .input
                        input#anom.anom(name="anom" type="text" required title="An alias to front your account\n does not have to be unique\nbut it may cause alot of confusion if not")

                .vert 
                    .label
                        label(for="forename") Forename: 
                    .input
                        input#forename.forename(name="forename" type="text")

                .vert 
                    .label
                        label(for="surname") Surname: 
                    .input
                        input#surname.surname(name="surname" type="text")

                .vert 
                    .label
                        label(for="password") Password: *
                    .input
                        input#password.password(name="password" type="password" required title="absolutely required to maintain your account secure")
                .vert 
                    .label
                        label(for="confirm") Confirm Password: *
                    .input
                        input#confirm.confirm(name="confirm" type="password" required)

                .formsubmit
                    input#submit.submit(type="submit" value="Register") 

                .errors
                    if status === 403
                        p To post a message you must authenticate


  
  